# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives:
- List popular languages for Data Science
- List libraries used by data scientists
- Give examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib

| Data Science Tools |
------------------------------
| RStudio            |               
| Apache Spark       |               
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

minute = int("200")
print("Hour: Minutes =" , int(minute/60),":", minute%60)

Hour: Minutes = 3 : 20

## Author
Archana Vijayan